@charset "UTF-8";

:root {
    /*Colors*/

    /*Primary Color*/
    --co-primary-p1:  hsl(4, 100%, 67%);

    /*Secundary Colors*/
    --co-neutral-n1: hsl(234, 29%, 20%); /*Dark Slate Grey*/
    --co-neutral-n2: hsl(235, 18%, 26%); /*Charcoal Grey*/
    --co-neutral-n3: hsl(231, 7%, 60%); /*Grey*/
    --co-neutral-n4: hsl(0, 0%, 85%);
    --co-neutral-w: hsl(0, 0%, 100%); /*White*/

    /*Fonts*/
    --ff-primary: "Roboto", serif;
    --fw-regular: 400;
    --fw-bold: 700;
    --fs-small: 0.75rem; /*12px*/
    --fs-regular-txt: 16px;
    --fs-title: 2.5rem;
}   

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

html,
body,
h1,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--ff-primary);
    font-weight: var(--fw-regular);
    font-size: var(--fs-regular-txt);
    color: var(--co-neutral-n1);
    background-color: var(--co-neutral-n1);
}


h1 {
    font-family: var(--ff-primary);
    font-weight: var(--fw-bold);
    font-size: var(--fs-title);
    color: var(--co-neutral-n1);
    margin-bottom: 1.5rem; /*24px*/
}

p {
    font-family: var(--ff-primary);
    font-weight: var(--fw-regular);
    font-size: var(--fs-regular-txt);
    color: var(--co-neutral-n1);
    line-height: 1.5;
}

button {
    font-family: var(--ff-primary);
    font-weight: var(--fw-bold);    
    background-color: var(--co-neutral-n1);
    color: var(--co-neutral-w);
    border-radius: 0.5rem; /*8px*/
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-container{
    max-width: 23.4375rem; /*375px*/
    background-color: var(--co-neutral-w);
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 1rem;    
}

.main-container__img {
    max-width: 23.4375rem; /*375px*/
    width: 100%;
    border-radius: 0 2.25rem 0 2.25rem; /*36*/   
}

.main-container picture img {
    width: 100%;
}

.content {
    padding: 2.5rem 1.5rem 2.5rem 1.5rem;
}

.content p {
    margin-bottom: 1.5rem; /*24px*/
}

.content ul {
    list-style: inside url('./../images/icon-list.svg');
    margin-bottom: 2.5rem;    
}

.content ul li {
    margin-bottom: 0.625rem;
}

.newsletter-input-form form{
    display: grid;

}

.newsletter-input-form form label {
    font-family: var(--ff-primary);
    font-weight: var(--fw-bold);
    font-size: var(--fs-small);
    color: var(--co-neutral-n1);
    line-height: 1.5;
    margin-bottom: 0.5rem;
}

.newsletter-input-form form input {
    border: 1px solid var(--co-neutral-n4);
    border-radius: 0.5rem;
    color: var(--co-neutral-n4);
    padding: 1.2rem 1rem;
    margin-bottom: 1.5rem; /*24px*/
}

.newsletter-input-form .btn {
    font-size: var(--fw-regular);
    padding: 1.2rem 1.5rem;
}


.sucess-message {
    display: none;
}

